<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<head>
    <title> {{ project.agency.name }} - {{ project }} </title>
</head>
<body>
<p>{{ project.agency.name }} - {{ project }}</p>
<table border='1'>
<tr>
<th>Descripción</th>
<th>Año Fiscal</th>
<th>Proposito</th>
<th>Clasificacíon</th>
<th>Clasificación Secundaria</th>
<th>Metodología</th>
<th>Metas</th>
<th>Departamento</th>
<th>Auspiciador</th>
<th>Resultados esperados</th>
<th>Logros</th>
<tr>
<td> {{ project.description|default:"No data" }} </td>
<td> {{ project.projectinfo.fiscal_year|default:"No data" }} </td>
<td> {{ project.projectinfo.purpose|default:"No data" }} </td>
<td> {{ project.projectinfo.classification|default:"No data" }} </td>
<td> {{ project.projectinfo.classification_secondary|default:"No data" }} </td>
<td> {{ project.projectinfo.methodology|default:"No data" }} </td>
<td> 
{% for goal in project.projectinfo.goals.all %}
    <ul>
    <li>  {{ goal|default:"No data" }}  </li>
    </ul>
{% endfor %}
</td>
<td> {{ project.projectinfo.department|default:"No data" }} </td>
<td> {{ project.projectinfo.sponsor|default:"No data" }} </td>
<td> {{ project.projectinfo.expected_results|default:"No data" }} </td>
<td> {{ project.projectinfo.milestones|default:"No data" }} </td>
</tr>
</table>
</body>
</html>
